@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
#appendToMe {
	text-align: center;
}
body {
	display: flex;
	justify-content: center;
}
#boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 200px;
	padding: 20px;
	margin-top: 20px;
	border-radius: 3px;
	align-items: center;
}
#boxes:hover {
	cursor: pointer;
}
.box {
	border: 1px solid black;
	padding: 20px;
	margin-top: 20px;
	border-radius: 3px;
	background-color: #272727;
}
.lightSquare {
	background-color: #555555;
}